.category-page {
  background-image: url('/src/assets/images/background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.cat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: 4% auto;
  gap: 30px 0;
}