.app-container {
  display: flex;
  flex-direction: column;
}

.home-link {
  text-decoration: none;
  width: 33%;
  margin: 4% auto 0;
}

.heading {
  margin: 0;
  text-align: center;
  font-size: 60px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #201f1f;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: #201f1f;
}

nav a:visited {
  color: #201f1f;
}
