.app-container {
  display: flex;
  flex-direction: column;
}

.app-container > a {
  text-decoration: none;
}

.heading {
  height: 8vh;
  text-align: center;
  font-size: 60px;
  -webkit-text-stroke: 2px navy;
	-webkit-text-fill-color: lightblue;
  color: navy;
}
