.app-container {
  background-image: linear-gradient(to right, navy 0%, skyblue 50%, navy 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.heading {
  height: 8vh;
  margin-left: 45vw;
  font-size: 60px;
  -webkit-text-stroke: 2px navy;
	-webkit-text-fill-color: lightblue;
  color: navy;
}
