.error-page {
  width: 100%;
  text-align: center;
  background-color: #FAEED9;
}

.error-home, .error-home:visited {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.error-home:hover {
  cursor: pointer;
}

.error-message {
  margin-bottom: 3%;
}